html,
body {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--invert-bg);
  background: var(--bg-color);

  font-family: var(--font-inter);
}

a {
  text-decoration: none;

  color: inherit;
}

/* * {
  box-sizing: border-box;
} */

:root {
  --black-color: #2a5490;
  --white-color: #fff5f5;
  --primary-color: #7653fc;
  --primary-hover-color: #21125f;
  --red-color: #fc836d;
  --green-color: #1dc37e;
  --green-lg-color: #c8f8e4;
  --gray-lg-color: #ebebeb;
}
