.tag {
  display: inline-block;

  box-sizing: border-box;

  margin-right: 5px;

  border-radius: 20px;
}

.m {
  padding: 5px 10px;

  font-size: 12px;
  line-height: 12px;
}

.l {
  padding: 5px 10px;

  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-lg-color);
}

.red {
  color: var(--white-color);
  background-color: red;

  font-weight: bold;
}

.grey {
  color: var(--white-color);
  background-color: gray;

  font-weight: bold;
}

.green {
  color: var(--green-color);
  background-color: var(--green-lg-color);

  font-weight: bold;
}

.primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: none;
}
